#home {
	width: 100%;
	height: 90vh;
	display: flex;

	> section {
		width: 100%;

		&:first-of-type {
			padding-left: $p;

			> div {
				border-top: 1px solid $color6_2;
				height: 100%;
				padding-top: 6rem;
				> h1 {
					font-weight: 400 6rem $text1;
				}

				.typewriterpara {
					margin: 20px 0px;
					height: 20px;
					letter-spacing: 5px;
                    font-size: 30px;
				}

                > div {
				display: flex;
				margin: 5rem 0;
				width: 70%;
				align-items: center;
				gap: 4rem;
                >a{
                    &:first-of-type{
                       background-color: $color3;
                       color: $color1;
                       padding: 1rem 2.5rem;
                       transition: all 0.3s;
                       &:hover{
                         background-color:$color3_1 ;
                       }
                    }
                     &:last-of-type{
                        font: 600 1.2rem $text2;
                        color: $color5;
                        display: flex;
                        align-items: center;
                    }

                }
			}
                aside{
                    display: flex;
                    justify-content: space-between;
                    width: 70%;
			}

            article{
                margin:2rem 0 ;
                width: 10rem;
                color: $color5;
                position: relative;

                &::after{
                    content: "";
                    background-color: white;
                    width: 100%;
                    height: 5rem;
                    position: absolute;
                    border-radius: 50px;
                    z-index: -1;
                    top: 20%;
                    left: 20%;
                }
                >p{
                    font: 900 2rem $text1;
                }
                >span{
                    font: 500 1rem $text2;
                }
            }
            
            article[data-special]{
              width: 16rem;
            }
            }

			
		}

		&:last-of-type {
		
			display: flex;
			justify-content: center;
			align-items: center;
			justify-content: flex-end;
			flex-direction: column;
			overflow-x: hidden;
            margin-top: 70px;
			&::after {
				content: "";
				width: 40vmax;
				height: 40vmax;
				position: absolute;
				z-index: -1;
				border-radius: 50%;
                background-color: $color3;
			}

			> img {
				width: 40vmx;
				height: 40vmx;
				object-fit: contain;
			}
		}
	}
	> svg {
		position: absolute;
		font-size: 4rem;
		color: $color5;
		left: 50%;
		bottom: 5%;
		transform: translateX(-50%);
		animation: animateSvg 0.7s infinite linear alternate;
	}
}
